# @ccarj:registry=http://nexus.ccarj.intraer/repository/npm-fab-agrupado-internet-ccarj
# proxy=http://00544466195:R0mu1026*@proxybrasilia.intraer:8080
# https-proxy=http://00544466195:R0mu1026*@proxybrasilia.intraer:8080
# noproxy[]=nexus.ccarj.intraer
strict-ssl=false
registry=https://registry.npmjs.org/